DATABASE_URL="postgresql://faso:faso_elevage_2025@localhost:5432/faso_elevage"
JWT_SECRET="super-secret-jwt-faso-elevage-2025-change-in-prod"
JWT_EXPIRES_IN="7d"
PORT=4000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
# Pour OTP SMS en prod: ajouter CinetPay ou service SMS BF
SMS_API_KEY=mock
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
